body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.search-page {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.search-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ddd;
}

.search-criteria {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.search-criteria input,
.search-criteria textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-list {
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.search-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.search-item:hover {
    background-color: #eee;
}

.search-item.selected {
    background-color: #ddd;
}

.message-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#send-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0069d9;
}
